{% extends "hierarchy/base.html" %} 
{% load mptt_tags %}

{% block title %}Список категорий{% endblock %}

{% block content %}

<div>
	{% if request.user.is_authenticated %}
		<h2 class="h2_tree">Добро пожаловать!</h2>
		{% else %}
		<h5 class="h5_tree">
			Для начала обучения вам необходимо приобрести этот курс.
			<br>
			Прочитать об авторе курса и найти ссылку для оплаты курса вы можете по ссылке ниже
			<a class="nav-link" href="{% url 'about:author' %}">Начать курс!</a>
		</h5>
	{% endif %}
    <div>			
			<ul class="ul_tree">
			{% recursetree post_list %}
					<li class="li_tree">
							<a class="css-button-text css-button" href="{{node.get_absolute_url}}">

								<span class="css-button-icon">
									<svg width="21" height="21" viewBox="2 2 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path d="M11.828 6a3 3 0 01-2.12-.879l-.83-.828A1 1 0 008.173 4H4.5a1 1 0 00-1 .981L3.546 6h-1L2.5 5a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 0011.828 5v1z"/>
										<path fill-rule="evenodd" d="M15.81 6H4.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0015.81 6zM4.19 5a2 2 0 00-1.992 2.181l.637 7A2 2 0 004.826 16h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0015.81 5H4.19z" clip-rule="evenodd"/>
										<path d="M10.616 12.24l3.182-1.969a.442.442 0 000-.742l-3.182-1.97c-.27-.166-.616.036-.616.372V8.7c-.857 0-3.429 0-4 4.8 1.429-2.7 4-2.4 4-2.4v.769c0 .336.346.538.616.371z"/>
									</svg>
								</span>

								{{node.title}}
							</a>
						
						{% if not node.is_leaf_node %}
							{% comment %} <ul class="children {% if node.level == 1 %}class_1{% elif node.level == 2 %}class_2{% endif %}"> {% endcomment %}
							<ul class="children">
								<span class="css-button-text">{{ children }}</span>
							</ul>
						{% endif %}
					</li>
			{% endrecursetree %}
			</ul>
    </div>
</div>

{% endblock %}