{% extends "hierarchy/base.html" %} 
{% block title %}Об авторе{% endblock %}
{% block content %}
{% load mptt_tags %}
{% load static %}
<h1 style="text-align: center; margin-top: 55px;">Приветствую на моей страничке!</h1>
<br>

<div class="author_wrapper">

  <div class="author_wrapper_section">
    <div class="author_img_div">
      <img class="author_img" src="{% static 'img/author.JPG' %}">
    </div>

    <div class="author_text">
      <p>
        Я Анастасия Дементьева - практикующий специалист по кинезиологическому тейпированию. 
        <br>
        Рассказываю и показываю, как с помощью тейпов вернуть здоровое сияние Вашей коже, стереть мелкие морщинки и уменьшить глубокие, подтянуть овал лица, убрать отёки с лица и тела. А также устранить мышечные спазмы и зажимы, тем самым убрав причину многих болей.
      </p>
    </div>
  </div>

  <hr class="author_wrapper_hr">

  <div class="author_wrapper_section">
    <div class="author_img_div">
      <img class="author_img" src="{% static 'img/imageautor2.jpg' %}">
    </div>

    <div class="author_text">
      <p>
        Чтобы тейпирование приносило лишь пользу и радость от результата, применять этот инструмент нужно правильно. Поскольку тейпы воздействуют на мышцы, нужно знать, где нужная мышца находится. 
        А для более выраженного эффекта наши мышцы очень любят мануальные техники перед процедурой тейпирования. 
        <br>
        Важные правила и рабочие техники тейпирования и предварительного массажа я подробно описываю на своём курсе, на который Вас и приглашаю.
      </p>
    </div>
  </div>

  <hr class="author_wrapper_hr">

  <div class="author_certificates">
    <h3>Мои сертификаты</h3>
    <!-- Cекция со слайдером -->
    <section class="caruosel">
      <div class="conteiner">
        <div class="caruosel__inner">
          <div>
            <a href="{% static 'img/certificat1.jpg' %}" class="caruosel__inner_link">
              <img src="{% static 'img/certificat1.jpg' %}" alt="1">
            </a>
          </div>
          <div>
            <a href="{% static 'img/certificat2.PNG' %}" class="caruosel__inner_link">
              <img src="{% static 'img/certificat2.PNG' %}" alt="2">
            </a>
          </div>
          <div>
            <a href="{% static 'img/certificat3.PNG' %}" class="caruosel__inner_link">
              <img src="{% static 'img/certificat3.PNG' %}" alt="3">
            </a>
          </div>
          <div>
            <a href="{% static 'img/certificat4.PNG' %}" class="caruosel__inner_link">
              <img src="{% static 'img/certificat4.PNG' %}" alt="4">
            </a>
          </div>
          <div>
            <a href="{% static 'img/certificat5.PNG' %}" class="caruosel__inner_link">
              <img src="{% static 'img/certificat5.PNG' %}" alt="5">
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <hr class="author_wrapper_hr">

  <section class="social_networks">
    <h3>Не забудь подписаться 🥰👇</h3>
    <a class="navbar-brand" target="_blank" href="https://likee.video/@ansstasia_new?af_sub4=&af_sub5=&l=ru">
      <img class="social_networks_img" src="{% static 'img/socialnetworks/likee.png' %}" width="65" height="65" class="d-inline-block align-top" alt="likee">
    </a>
    <a class="navbar-brand" target="_blank" href="https://www.youtube.com/channel/UCeiHtvZQwqonRJO_R1xmnfw">
      <img class="social_networks_img" src="{% static 'img/socialnetworks/youtube.png' %}" width="65" height="65" class="d-inline-block align-top" alt="youtube">
    </a>
    <a class="navbar-brand" target="_blank" href="https://vk.com/tape_for_you">
      <img class="social_networks_img" src="{% static 'img/socialnetworks/vk.png' %}" width="65" height="65" class="d-inline-block align-top" alt="vk">
    </a>
    <a class="navbar-brand" target="_blank" href="https://www.tiktok.com/@anastasija_dementeva?refer=creator_embed">
      <img class="social_networks_img" src="{% static 'img/socialnetworks/tiktok.png' %}" width="65" height="65" class="d-inline-block align-top" alt="tiktok">
    </a>

    <div class="author_button">
      <a class="css-button-tme" target="_blank" href="https://t.me/anastasiadementeva">
        <img class="social_networks_img" src="{% static 'img/socialnetworks/tme.png' %}" width="65" height="65" class="d-inline-block align-top" alt="tme">
        <span class="css-button-text-tme">А тут бесплатный клуб с обзорами моих уроков💝</span>
      </a>
    </div>
  </section>

  <hr class="author_wrapper_hr">

  {% if request.user.is_authenticated %}
    <div class="author_button">
      <a class="css-button-downloads" href="{% url 'index' %}">
        <span class="css-button-text-downloads">Начать обучение</span>
      </a>
    </div>

  {% else %}
    <div class="author_button">
      <a class="css-button-downloads" href="{% url 'course_content' %}">
        <span class="css-button-text-downloads">Содержание курса</span>
      </a>
    </div>
    
    {% include 'hierarchy/includes/buy_course_button.html' %}

  {% endif %}

</div>
{% endblock %} 