{% load static %}
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:#111f6a;">Настя</span>Тейпирование
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
        <ul class="navbar-nav">
          {% with request.resolver_match.view_name as view_name %}  
          <li class="nav-item"> 
            <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" href="{% url 'about:author' %}">Об авторе</a>
          </li>
          {% endwith %}

          {% if request.user.is_authenticated %}

          {% with request.resolver_match.view_name as view_name %}  
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'index' %}active{% endif %}" href="{% url 'index' %}">Курс</a>
            </li>
          {% endwith %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Пользователь: {{ user.username }}</a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
              <li><hr class="dropdown-divider"></hr></li>
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
            </ul>
          </li>       

          {% else %}

          {% with request.resolver_match.view_name as view_name %}
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'course_content' %}active{% endif %}" href="{% url 'course_content' %}">Содержание</a>
            </li>
          {% endwith %}
          
          {% with request.resolver_match.view_name as view_name %}  
          <li class="nav-item"> 
            <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a>
          </li>
          {% endwith %}

          {% endif %}
        </ul>

      </div>
    </div>
  </nav>      
</header>