body {
  background-color: #d9e3f1;
  color: #495a8d;
}

main {
	padding: 5px 4px 4px 4px;
}

p{
	text-align: center;
	font-size: 18px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.container_post{
	margin-top: 55px;
}

.h2_tree{
	margin-top: 65px;
}

.h5_tree{
	margin-bottom: 35px;
	margin-top: 35px;
	color:#821f1f;
	text-align: center;
}

h1{text-align: center;}

h3 {
	text-align: center;
	margin-bottom: 45px;
	margin-top: 15px;
	color: #495a8d;
}

.social_networks_img{
	border-radius: 15px;
}

.social_networks_img:hover{
	opacity: 0.4;
}

.li_tree{
	color: black;
	list-style:none;
}

.index_post {
	color: black;
	list-style:none;
	margin-top: 25px;
	margin-bottom: 5px;
}

.index_post p {
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.index_post_paid_videos{
	font-size: 12px;
	color:#821f1f;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}

/* --------- Оформление списка на стронице автора --------- */
.border {
	list-style: none;
	/* padding: 0; */
}
.border li {
	/* font-family: "Trebuchet MS", "Lucida Sans"; */
	padding: 4px 8px;
	margin-bottom: 10px;
	border-radius: 25px;
	border-left: 10px solid #1d6efd; 
	box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
			 -2px -2px 5px 0 rgba(0,0,0,.1),
			2px 2px 5px 0 rgba(0,0,0,.1),
			-2px 2px 5px 0 rgba(0,0,0,.1);
	/* font-size: 12px;
	letter-spacing: 2px; */
	/* transition: 0.3s all linear; */
	/* border-color: #8bc63e; */
	}
/* .border li:nth-child(2){border-color: #8bc63e;}
.border li:nth-child(3){border-color: #fcba30;}
.border li:nth-child(4){border-color: #1ccfc9;}
.border li:nth-child(5){border-color: #493224;} */
/* .border li:hover {border-left: 10px solid transparent;} */
/* .border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
.border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
.border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.border li:nth-child(5):hover {border-right: 10px solid #493224;} */

.ul_tree{
	margin-left: 0;
	padding-left: 0;
}

.nav-link {
	padding: 1px;
	color: #44a9f2;
}

.navbar {
	font-size: 18px;
}

.nav-breadcrumb{
	color:#495a8d;
}

.nav-breadcrumb:hover {
	color:#575858;
}

.nav-breadcrumb_postid {
	color:#575858;
}

.span_breadcrumb {
	font-size: 18px;
	font-weight: bold;
}

.css-button {
	font-family: Arial;
	color: #000000;
	font-size: 18px;
	border-radius: 50px;
	border: 1px #a5b8d1 solid;
	background: linear-gradient(176deg, #d9e3f1 18%, #c1d1e8 64%);
	text-shadow: 0px 0px 8px rgba(154, 160, 166, 0.94);
	box-shadow: inset 2px 2px 6px 0px #ffffff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-top: 5px;
	width: 100%;
}
.css-button:hover {
	background: linear-gradient(176deg, #c1d1e8 18%, #d9e3f1 64%);
	/* color:#46cfad; */
}
.css-button-icon {
	padding: 16px 26px;
	margin-right: 10%;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-icon svg {
	vertical-align: middle;
	position: relative;
	font-size: 21px;
	top: -2px;
	left: 6px;
	margin-right: 15px;
}
.css-button-text {
	color: black;
	text-decoration:none;
}

.css-button-downloads {
	/* font-family: Arial; */
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 50px;
	border: 1px #75adf5 solid;
	background: linear-gradient(180deg, #63e5ee 5%, #46cfad 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	text-decoration:none;
	width: 315px;
	margin: 15px auto;
	min-height: 62px;
}
.css-button-downloads:hover {
	background: linear-gradient(180deg, #46cfad 5%, #63e5ee 100%);
	color:#266967;
}
.css-button-icon-downloads {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-icon-downloads svg {
	vertical-align: middle;
	position: relative;
	font-size: 23px;
}
.css-button-text-downloads {
	display: block;
	margin: 5px auto;
	text-align: center;
}

.css-button-text-tme {
	display: block;
	margin: 5px 5px 5px 25px;
	text-align: left;
}

.navbar-brand{
	margin-right: 2px;
}

.css-button-div{
	display: flex;
}

.css-button-tme {
	/* font-family: Arial; */
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 16px;
	border: 1px #75adf5 solid;
	background: linear-gradient(493deg, #61a8de 65%, #46cfad 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	width: 315px;
	margin: 15px auto;
	min-height: 62px;
}
.css-button-tme:hover {
	background: linear-gradient(180deg, #46cfad 5%, #63e5ee 100%);
	color:#266967;
}

.youtube_css{
	width: 770px;
	height: 482px;
	margin: 5px auto;
	display: block;
}

.author_img{
	max-width: 300px;
	/* margin-right: 25px;
	margin-left: 25px; */
	border-radius: 80px 5px;
	margin: 2px 25px 25px 25px;
}

.author_wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.author_text{
	max-width: 378px;
}

.author_text p{
	text-align: justify;
}

.author_button{
	margin-top: 25px;
}

.author_wrapper_section{
	display: flex;
	margin-bottom: 45px;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	align-items: flex-start;
}

.author_wrapper_hr {
	width: 65%;
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}

.footer_hr {
	/* width: 90%; */
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}

/* ----------- Слайдер ------------------ */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}

.caruosel {
	padding: 20px 0
}
.caruosel__inner {
	width:780px;
	margin:0 auto;
	position:relative
}
.caruosel__inner img {
	width:90%;
	margin:0 auto;
	display:block;
	border-radius:15px
}
.caruosel .slick-prev {
	border:none;
	background-color:rgba(255, 255, 255, 0);
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:-66px;
	display:none;
}
.caruosel .slick-prev img {
	width:31px;
	height:50px;
	display:none;
}
.caruosel .slick-next {
	border:none;
	background-color:rgba(255, 255, 255, 0);
	position:absolute;
	top:50%;transform:translateY(-50%);
	right:-66px;
	left:auto;
	display:none;
}
.caruosel .slick-next img {
	width:31px;
	height:50px;
	display:none;
}
.caruosel .slick-dots {
	display:flex;
	justify-content:center;list-style-type:none
}
.caruosel .slick-dots li {
	display:block;
	margin-right:5px
}
.caruosel .slick-dots li button {
	background-color:#f5f5f5;
	border:none;
	height:5px;
	font-size:0;
	width: 10px;
	cursor: pointer;
}
.caruosel .slick-dots .slick-active button {
	background-color:red;
	width: 10px;
	cursor: pointer;
}

/* -------- Социальные сети ------ */
.social_networks {
	text-align: center;
}

/* -------- Адаптация под мобильное устройство ------ */
@media (max-width: 1280px) {
	.youtube_css{width: 550px; height: 347px;}
	.author_img {max-width: 299px;}
	.caruosel__inner {width:780px;}
}

@media (max-width: 1024px) {
	.youtube_css{width: 550px; height: 347px;}
	.author_img {max-width: 298px;}
	.caruosel__inner {width:680px;}
}

@media (max-width: 768px) {
  .section_wrapper p {
    margin: 25px 4px 18px 40px;
    font-size: 14px;
    width: 250px;
  }
	.author_img {max-width: 297px;}
	.youtube_css{width: 465px; height: 291px;}
	.caruosel__inner {width:580px;}

	.author_wrapper_section{
		display: flex;
		margin-bottom: 45px;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: center;
		align-items: center;
		margin-bottom: 45px;
	}
	.container, .container-sm {max-width: 699px;}
	.container_post {margin-left: -35px;}
}

@media (max-width: 600px) {
	.author_img {max-width: 245px;}
	.youtube_css{width: 380px; height: 238px;}
	.caruosel__inner {width:480px;}
}

@media (max-width: 480px) {
	.author_img {border-radius: 40px 1px;}
	.css-button-icon {margin-right: 5px;}
	.css-button-icon svg {margin-right: 5px;}
	.youtube_css{width: 315px; height: 197px;}
	.caruosel__inner {width:400px;}
}

@media (max-width: 425px) {
	h3{font-size: 19px;}
	.author_img {border-radius: 20px 1px;}
	.css-button-icon {margin-right: 5px;}
	.css-button-icon svg {margin-right: 5px;}
	.youtube_css{width: 215px; height: 135px;}
	.caruosel__inner {width:355px;}
	.css-button-text-downloads {font-size: 14px;}
}