/* body {
  background-color: black;
  color: white;
	caret-color: transparent;
}

a { color: yellow;}

.btn-primary {
	background-color: yellow;
	color: black;
	border-color: black;
}

.list-group-item {
	border-color: #757474;
}

.list-group-item {
  background-color: black;
  color:#ffffff;
}

.nav-link { color: yellow; }
.link-light { color: rgb(184, 184, 37); }

.card-header {color:black;}
.card-body {color:black;}
.card-body a {color: green;}

.section_skills {
  padding: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}

.author_img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.author_span{
  font-weight: bold;
  color: black;
  background-color: #ffffff;
  display: flex;
  height: 45px;
  padding: 2px 7px;
  max-width: 215px;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
}

.section_skills .section_wrapper {padding: 5px 200px;} */


/* ------------- Навыки ------------- */
/* .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:25px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:145px;
	font-weight:bold;
	font-size:14px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0);
	padding:0 5px;
	height:25px;
	line-height:25px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:25px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:25px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.development{
  background:#0db328;
}
.development_line {
  background:#0db328;
} */


/* ---------------- Перечень уроков ---------------- */

.container_post{
	margin-top: 55px;
}

.h2_tree{
	margin-top: 65px;
}

.h5_tree{
	margin-bottom: 35px;
}

h3 {
	text-align: center;
}

.li_tree{
	color: black;
	list-style:none;
}

.ul_tree{
	margin-left: 0;
	padding-left: 0;
}

.nav-link {
	padding: 1px;
	color: #44a9f2;
}

.navbar {
	font-size: 18px;
}

.nav-breadcrumb{
	color:#575858;
}

.nav-breadcrumb:hover {
	color:#161699;
}

.span_breadcrumb {
	font-size: 18px;
	font-weight: bold;
}

/* .css-button {
	font-family: Arial;
	color: #332e2e;
	font-size: 16px;
	border-radius: 5px;
	border: 0px #e3e330 solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffff00 5%, #e3e330 100%);
	box-shadow: 0px 10px 14px -7px #616174;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-top: 5px;
	width: 100%;
	text-decoration: none;
}
.css-button:hover {
	background: linear-gradient(180deg, #ffff8f 5%, #f1f165 100%);
	color: white;
} */

.css-button {
	font-family: Arial;
	color: #000000;
	font-size: 18px;
	border-radius: 50px;
	border: 1px #a5b8d1 solid;
	background: linear-gradient(176deg, #d9e3f1 18%, #c1d1e8 64%);
	text-shadow: 0px 0px 8px rgba(154, 160, 166, 0.94);
	box-shadow: inset 2px 2px 6px 0px #ffffff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	/* width: 500px; */
	margin-top: 5px;
	width: 100%;
}
.css-button:hover {
	background: linear-gradient(176deg, #c1d1e8 18%, #d9e3f1 64%);
}
.css-button-icon {
	padding: 16px 26px;
	/* margin-right: 100px; */
	margin-right: 10%;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-icon svg {
	vertical-align: middle;
	position: relative;
	font-size: 21px;
	top: -2px;
	left: 6px;
	margin-right: 15px;
}
.css-button-text {
	/* padding: 5px 164px; */
	/* margin: 5px; */
	color: black;
	text-decoration:none;
	/* width: 75%; */
	/* display: block; */
	/* text-align: center; */
}

.css-button-downloads {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 50px;
	border: 1px #75adf5 solid;
	background: linear-gradient(180deg, #63e5ee 5%, #46cfad 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	text-decoration:none;
	width: 285px;
	/* height: 100px; */
	margin: 15px auto;
	/* display: block; */
}
.css-button-downloads:hover {
	background: linear-gradient(180deg, #46cfad 5%, #63e5ee 100%);
}
.css-button-icon-downloads {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-icon-downloads svg {
	vertical-align: middle;
	position: relative;
	font-size: 23px;
}
.css-button-text-downloads {
	padding: 12px 45px;
}

.css-button-text-downloads:hover {
	color:#44a9f2;
}

.css-button-div{
	display: flex;
}


body {
  background-color: #d9e3f1;
  color: #495a8d;
}

main {
	padding: 45px;
}

.youtube_css{
	width: 770px;
	height: 482px;
	margin: 5px auto;
	display: block;
}

.nav-breadcrumb_postid {
	color:#161699;
}

main {padding: 5px 4px 4px 4px;}

/* -------- Адаптация под мобильное устройство ------ */
@media (max-width: 1280px) {
	.youtube_css{width: 550px; height: 347px;}
}

@media (max-width: 1024px) {
	.youtube_css{width: 550px; height: 347px;}
}

@media (max-width: 768px) {
  .section_wrapper p {
    margin: 25px 4px 18px 40px;
    font-size: 14px;
    width: 250px;
  }
	.author_img {max-width: 250px;}
	/* main {padding: 45px 4px 4px 4px;} */
	.youtube_css{width: 465px; height: 291px;}
}

@media (max-width: 600px) {
	.youtube_css{width: 429px; height: 267px;}
}

@media (max-width: 480px) {
	.css-button-icon {margin-right: 5px;}
	.css-button-icon svg {margin-right: 5px;}
	.youtube_css{width: 356px; height: 224px;}
}

@media (max-width: 425px) {
	.css-button-icon {margin-right: 5px;}
	.css-button-icon svg {margin-right: 5px;}
	.youtube_css{width: 270px; height: 170px;}
}

/* @media (max-width: 320px) {
	.youtube_css{width: 270px; height: 170px;}
} */