/* body {
  background-color: black;
  color: white;
	caret-color: transparent;
}

a { color: yellow;}

.btn-primary {
	background-color: yellow;
	color: black;
	border-color: black;
}

.list-group-item {
	border-color: #757474;
}

.list-group-item {
  background-color: black;
  color:#ffffff;
}

.nav-link { color: yellow; }
.link-light { color: rgb(184, 184, 37); }

.card-header {color:black;}
.card-body {color:black;}
.card-body a {color: green;}

.section_skills {
  padding: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}

.author_img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.author_span{
  font-weight: bold;
  color: black;
  background-color: #ffffff;
  display: flex;
  height: 45px;
  padding: 2px 7px;
  max-width: 215px;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
}

.section_skills .section_wrapper {padding: 5px 200px;} */


/* ------------- Навыки ------------- */
/* .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:25px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:145px;
	font-weight:bold;
	font-size:14px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0);
	padding:0 5px;
	height:25px;
	line-height:25px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:25px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:25px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.development{
  background:#0db328;
}
.development_line {
  background:#0db328;
} */


/* ---------------- Перечень уроков ---------------- */

/* .container_post{
	margin-top: 55px;
}

.h2_tree{
	margin-bottom: 35px;
}

.h5_tree{
	margin-bottom: 35px;
}

.li_tree{
	color: black;
}

.ul_tree{
	margin-left: 0;
	padding-left: 0;
}

.css-button {
	font-family: Arial;
	color: #332e2e;
	font-size: 16px;
	border-radius: 5px;
	border: 0px #e3e330 solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #ffff00 5%, #e3e330 100%);
	box-shadow: 0px 10px 14px -7px #616174;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-top: 5px;
	width: 100%;
	text-decoration: none;
}
.css-button:hover {
	background: linear-gradient(180deg, #ffff8f 5%, #f1f165 100%);
	color: white;
} */

/* -------- Адаптация под мобильное устройство ------ */
/* @media (max-width: 768px) {
  .section_skills {width: 768px;}

  .section_wrapper p {
    margin: 25px 4px 18px 40px;
    font-size: 14px;
    width: 250px;
  }

 .section_skills .section_wrapper {padding: 4px 15px;}
  .skillbar-title {
    font-size: 12px;
    width: 114px;
  }

  .author_img {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
	.section_skills {width: 600px;}
	.youtube_css{width: 550px; height: 345px;}
}
@media (max-width: 425px) {
	.section_skills {width: 425px;}
	.youtube_css{width: 325px; height: 205px;}
}
@media (max-width: 320px) {
	.section_skills {width: 320px;}
	.youtube_css{width: 270px; height: 170px;}
} */